django==2.0
pytz==2017.2
psycopg2==2.7.7
djangorestframework==3.9.2
django-phonenumber-field
phonenumbers
Pillow==8.3.2
django-cors-headers==2.5.2
djangorestframework-jwt==1.11.0
pygdal
jsonfield==2.0.2
pipenv==2018.11.26
simplejson==3.16.0
django-extra-fields
#channels
#asgi_redis
coreapi 
pyyaml
