{% extends 'base.html' %}
{% load static %}
{% block title%}Paipay tracker{% endblock %}
		
{% block styles %}
<link rel="stylesheet" href="{% static 'tracks/css/map_style.css' %}" type="text/css">

{% endblock %}
{% block content %}

	<div id="mapdiv" class="map"></div>
	<div id="deliveryMen" class="map">
		<table class="table table-hover">
		    <thead>
        <tr>
            <th>Nombre</th>
        </tr>
        </thead>
        <tbody>
        {% for repartidor in repartidores %}
            <tr>
                <td>{{ repartidor.name }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
	</div>


{% endblock %}
{% block scripts_body %}
  <script type= "text/javascript" src="{% static 'tracks/js/display_routes.js' %}"></script>
	
{% endblock %}
