.map {
      height: 400px;
      width: 100%;
    }
#form-container{
	text-align: center;
	padding: 5%;
}
#form-container h2{
	color: #45350f;
}
body{
	background-color: #f7f7f7;
}
#form{
    text-align: center;
    align-items: baseline;
}
#messagediv{
	height: 5%;
	visibility: hidden;
}

#mapdiv{
	visibility: hidden;
}